.blue{
    background: blue;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: yellow;
    padding: 20px 40px;
    text-align: center;
    border-radius: 8px;
    height:100px;
    box-shadow: 5px 10px rgb(187, 192, 192);
    margin: 4px;

}

.red{
    background: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(2, 68, 88);
    padding: 20px 40px;
    text-align: center;
    border-radius: 8px;
    height:100px;
    box-shadow: 5px 10px rgb(187, 192, 192);
    margin: 4px;

}

.green{
    background: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 18px;
    color: azure;
    padding: 20px 40px;
    text-align: center;
    border-radius: 8px;
    height:100px;
    box-shadow: 5px 10px rgb(187, 192, 192);
    margin: 4px;

}


.black{
    display: flex;
    background: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:white;
    padding: 20px 40px;
    text-align: center;
    border-radius: 8px;
    height:100px;
    box-shadow: 5px 10px rgb(187, 192, 192);
    margin: 4px;

}
.pink{
    display: flex;
    background: rgb(228, 79, 104);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: rgb(8, 49, 4);
    padding: 20px 40px;
    text-align: center;
    border-radius: 8px;
    height:100px;
    box-shadow: 5px 10px rgb(187, 192, 192);
    margin: 4px;

}
.yellow{
    display: flex;
    background: yellow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    color:red;
    padding: 20px 40px;
    border-radius: 8px;

    text-align: center;
    height:100px;
    box-shadow: 5px 10px rgb(187, 192, 192);
    margin: 4px;

}
.brown{
    display: flex;
    background: brown;
    font-family: fantasy;
    font-size: 16px;
    color:white;
    padding: 20px 40px;
    text-align: center;
    border-radius: 8px;
    height:100px;
    box-shadow: 5px 10px rgb(187, 192, 192);
    margin: 4px;

}

